[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phonetisr"]
	path = phonetisr
	url = https://github.com/stefanocoretta/phonetisr
[submodule "rticulate"]
	path = rticulate
	url = https://github.com/stefanocoretta/rticulate
[submodule "speakr"]
	path = speakr
	url = https://github.com/stefanocoretta/speakr
[submodule "tidygam"]
	path = tidygam
	url = https://github.com/stefanocoretta/tidygam
